/* Info Window Stuff */

.info_window_content textarea, .info_window_content input {
    font-family: 'Roboto', Arial, sans-serif; /*What Google uses for info windows, use for consistency*/
    max-width: 90%;
    border: 1px solid #777; /*specifying border b/c if don't, sometimes get weird display glitches*/
    border-radius: 4px;
}

.action { /* meant for info windows */
    color: gray;
    margin: 0;
    cursor: pointer;
    font-size: 10px;
    margin-right: 5px;
    text-decoration: underline;
    display: inline;
}

#inputInfoWindow_content > div {
    margin-bottom: 10px;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.comment_title {
    display: flex;
    justify-content: space-between;
}
.delete_comment {
    margin-left: 10px;
}


.new_comment {
    display: none;
}
.new_comment input, .new_comment textarea {
    margin-top: 5px;
}
.new_comment .submit_comment {
    margin-top: 5px;
    cursor: pointer;
}
.new_comment .cancel_new_comment {
    margin: 5px 0 0 8px;
    cursor: pointer;
    color: #555;
    display: inline-block;
}
.new_comment .cancel_new_comment:hover {
    text-decoration: underline;
    color: black;
}