/* General styling */
:root {
    --base-color: #f6f6ee;
    --accent-color: #d9d9b8;
}

html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Trebuchet MS, Trebuchet, Arial, sans-serif;
    background: #f4f4f4;
}

#map {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px #CCC;
    background-color: #DEDCD7;
}

dialog {
    background-color: var(--base-color);
    border: 5px solid var(--accent-color);
    box-shadow: 2px 2px 5px #0005;
    font-family: "Open Sans";
}
dialog::backdrop {
    background-color: rgba(0 0 0 / .5);
}

@media screen and (max-width: 600px) {
    #map {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
}