/* General styling */
:root {
    --base-color: #f6f6ee;
    --accent-color: #d9d9b8;
}

html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Trebuchet MS, Trebuchet, Arial, sans-serif;
    background: #f4f4f4;
}

#map {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px #CCC;
    background-color: #DEDCD7;
}

textarea {
    resize: none;
    min-height: 6rem;
    width: 20rem;
}

@media screen and (max-width: 600px) {
    #map {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
}

/* used for buttons, to overwrite default styling */
.no-style {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: black;
    font-family: inherit;
    font-size: inherit;
}