/* map controls */

.custom_map_control {
    padding: 3px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    border-radius: 2px;
    background-color: white;
    margin: 10px;
}

/* change location dropdown */

#change_location {
    cursor: pointer;
    margin: 10px;
    margin-left: 0;
    position: absolute; /*for z-index shenanigans*/
    z-index: 0;
}
#change_location > button {
    /* copying the google maps dropdown css for consistency */
    padding: 8px 17px;
    position: relative;
    user-select: none;
    border: 0;
    border-radius: 2px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    color: black;
}
#change_location > button:hover {
    background-color: rgb(235, 235, 235);
}
#change_location > button > span {
    position: relative;
    right: 3px;
}
#change_location img {
    user-select: none;
    margin: -2px 0 0;
    position: absolute;
    right: 8px;
    top: 50%;
    width: 7px;
    height: 4px;
}
#locations {
    /* copying the google maps dropdown css for consistency */
    list-style: none;
    margin: 0;
    padding: 2px;
    position: absolute;
    top: 100%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    z-index: -1;
    display: none;
}
#locations li {
    padding: 5px;
    user-select: none;
    font-size: 18px;
    color: rgb(86, 86, 86);
}
#locations li:hover {
    color: black;
    background-color:rgb(235, 235, 235);
}


/* legend */

#legend {
    width: 90px;
}
#legend input, #legend label {
    cursor: pointer;
}
#legend input {
    margin-left: 1px;
}
#legend_toggle_archived {
    margin: 1px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 10px;
    color: gray;
}


/* date filter */

#date_filter {
    margin-top: 0;
}
button#date_filter_header {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
    cursor: pointer;
}
#date_filter_content {
    width: 90px;
}
#date_filter:not([open]) #date_filter_content {
    display: none;
}
#date_filter .flex {
    display: flex;
    justify-content: space-between;
}
#date_filter .reset {
    text-decoration: underline;
    cursor: pointer;
}
#date_filter input {
    font-size: 11px;
    display: block;
    width: calc(100% - 5px); /* 5px = 2 * 2px border + 1px padding left */
}


/* download button */

#download_control {
    cursor: pointer;
    text-align: center;
    margin-top: 0;
}
#download_control:hover {
    background-color: rgb(235, 235, 235);
}


/* info icon */

#info_control {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
    color: white;
    background-color: royalblue;
    height: 36px;
    width: 36px;
    border-radius: 36px;
    margin-top: 0;
    margin-right: 12px; /* center with the street view control */

    user-select: none;
    cursor: pointer;
}
#info_control:hover {
    background-color: #3e3ed5;
}


/* measure control */

#measure_control {
    width: 40px;
    height: 40px;
    padding: 0px;
    margin-bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#measure_control img {
    width: 80%;
}
#measure_control:hover {
    background-color: rgb(235, 235, 235);
}