html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Trebuchet MS, Trebuchet, Arial, sans-serif;
    background: #f4f4f4;
}

textarea, input {
    font-family: 'Roboto', Arial, sans-serif; /*What Google uses for info windows, use for consistency*/
}
textarea {
    resize: none;
}

#map {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px #CCC;
    background-color: #DEDCD7;
}

@media screen and (max-width: 600px) {
    #map {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
}

.action { /* meant for info windows */
    color: gray;
    margin: 0;
    cursor: pointer;
    font-size: 10px;
    margin-right: 5px;
}

.new_comment input, .new_comment textarea {
    margin-top: 5px;
    border: 1px solid #777; /*specifying border b/c if don't, sometimes get weird display glitches*/
    border-radius: 2px;
}
.new_comment .submit_comment {
    margin-top: 5px;
    cursor: pointer;
}
.new_comment .cancel_new_comment {
    margin: 5px 0 0 8px;
    cursor: pointer;
    color: #555;
    display: inline-block;
}
.new_comment .cancel_new_comment:hover {
    text-decoration: underline;
    color: black;
}
.new_comment textarea {
    height: 75px;
    width: calc(100% - 7px); /*calc value fills the info window w/o causing a horizontal scrollbar*/ 
}

.comment_header {
    display: flex;
    justify-content: space-between;
}

.custom_map_control {
    padding: 3px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    border-radius: 2px;
    background-color: white;
    margin: 10px;
}

#legend input, #legend label {
    cursor: pointer;
}

#legend_toggle_archived {
    margin: 1px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 10px;
    color: gray;
}

#download_data {
    cursor: pointer;
    text-align: center;
    margin-top: 0;
}

#change_location {
    cursor: pointer;
    margin: 10px;
    margin-left: 0;
    position: absolute; /*for z-index shenanigans*/
    z-index: 0;
}
#change_location > button {
    /* copying the google maps dropdown css for consistency */
    padding: 8px 17px;
    position: relative;
    user-select: none;
    border: 0;
    border-radius: 2px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    color: black;
}
#change_location > button:hover {
    background-color: rgb(235, 235, 235);
}
#change_location > button > span {
    position: relative;
    right: 3px;
}
#change_location img {
    user-select: none;
    margin: -2px 0 0;
    position: absolute;
    right: 8px;
    top: 50%;
    width: 7px;
    height: 4px;
}
#locations {
    /* copying the google maps dropdown css for consistency */
    list-style: none;
    margin: 0;
    padding: 2px;
    position: absolute;
    top: 100%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    z-index: -1;
    display: none;
}
#locations li {
    padding: 5px;
    user-select: none;
    font-size: 18px;
    color: rgb(86, 86, 86);
}
#locations li:hover {
    color: black;
    background-color:rgb(235, 235, 235);
}

.input_field { /*For the data input form*/
    display: block;
    margin-bottom: 10px;
}

#instructions_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0003;

    transition: display 5s;
}

#instructions {
    position: absolute;
    height: 85vh;
    width: 70vw;
    background-color: #f6f6ee;
    border: 5px solid #d9d9b8;
    margin: auto;
    inset: 0;
    box-shadow: 2px 2px 5px #0005;
    padding: 10px;
}

#instruction_footer {
    height: 35px;
    padding: 5px;
    position: absolute;
    bottom: 0;
}

#instruction_scroll_content {
    height: 90%;
}

#close_instructions {
    display: block;
    margin: auto;
    margin-top: 5px;
    height: 7%;
    cursor: pointer;
}