/* General styling */
:root {
    --base-color: #f6f6ee;
    --accent-color: #d9d9b8;
}

html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Trebuchet MS, Trebuchet, Arial, sans-serif;
    background: #f4f4f4;
}

textarea, input {
    font-family: 'Roboto', Arial, sans-serif; /*What Google uses for info windows, use for consistency*/
}
textarea {
    resize: none;
}

#map {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px #CCC;
    background-color: #DEDCD7;
}

dialog {
    background-color: var(--base-color);
    border: 5px solid var(--accent-color);
    box-shadow: 2px 2px 5px #0005;
    font-family: "Open Sans";
}
dialog::backdrop {
    background-color: rgba(0 0 0 / .5);
}

@media screen and (max-width: 600px) {
    #map {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
}

/* Info Window Stuff */

.action { /* meant for info windows */
    color: gray;
    margin: 0;
    cursor: pointer;
    font-size: 10px;
    margin-right: 5px;
}

.input_field { /*For the data input form*/
    display: block;
    margin-bottom: 10px;
}

.new_comment input, .new_comment textarea {
    margin-top: 5px;
    border: 1px solid #777; /*specifying border b/c if don't, sometimes get weird display glitches*/
    border-radius: 2px;
}
.new_comment .submit_comment {
    margin-top: 5px;
    cursor: pointer;
}
.new_comment .cancel_new_comment {
    margin: 5px 0 0 8px;
    cursor: pointer;
    color: #555;
    display: inline-block;
}
.new_comment .cancel_new_comment:hover {
    text-decoration: underline;
    color: black;
}
.new_comment textarea {
    height: 75px;
    width: calc(100% - 7px); /*calc value fills the info window w/o causing a horizontal scrollbar*/ 
}

.comment_header {
    display: flex;
    justify-content: space-between;
}


/* map controls */

.custom_map_control {
    padding: 3px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    border-radius: 2px;
    background-color: white;
    margin: 10px;
}

#legend input, #legend label {
    cursor: pointer;
}

#legend_toggle_archived {
    margin: 1px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 10px;
    color: gray;
}

#download_control {
    cursor: pointer;
    text-align: center;
    margin-top: 0;
}
#download_control:hover {
    background-color: rgb(235, 235, 235);
}

#change_location {
    cursor: pointer;
    margin: 10px;
    margin-left: 0;
    position: absolute; /*for z-index shenanigans*/
    z-index: 0;
}
#change_location > button {
    /* copying the google maps dropdown css for consistency */
    padding: 8px 17px;
    position: relative;
    user-select: none;
    border: 0;
    border-radius: 2px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    color: black;
}
#change_location > button:hover {
    background-color: rgb(235, 235, 235);
}
#change_location > button > span {
    position: relative;
    right: 3px;
}
#change_location img {
    user-select: none;
    margin: -2px 0 0;
    position: absolute;
    right: 8px;
    top: 50%;
    width: 7px;
    height: 4px;
}
#locations {
    /* copying the google maps dropdown css for consistency */
    list-style: none;
    margin: 0;
    padding: 2px;
    position: absolute;
    top: 100%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    z-index: -1;
    display: none;
}
#locations li {
    padding: 5px;
    user-select: none;
    font-size: 18px;
    color: rgb(86, 86, 86);
}
#locations li:hover {
    color: black;
    background-color:rgb(235, 235, 235);
}

#info_control {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
    color: white;
    background-color: royalblue;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-top: 0;
    margin-right: 12px; /* center with the street view control */

    user-select: none;
    cursor: pointer;
}
#info_control:hover {
    background-color: #3e3ed5;
}


/* General instruction dialog layout */

#instructions {
    height: calc(100vh - 4rem);
    width: min(calc(100vw - 4rem), 800px);
}

#instruction_footer {
    height: 35px;
    padding: 5px;
}

#instructions_vertical_layout {
    display: flex;
    gap: 1em;
    flex-direction: column;
    height: 100%;
}

/* Instructions content */

#instruction_scroll_content {
    padding-right: 1rem;
    overflow-y: auto;
    border-bottom: 1px solid black;
}

#instructions_header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
#hoka {
    font-family: "Rock Salt";
    margin: 0;
    font-size: 36px;
}
#instructions_header div:last-child {
    display: flex;
    gap: 10px;
}
#instructions_header img {
    height: 50px;
}

/* text-img-flex is a class for divs containing two elements,
a p tag and an img or div containing an img. It puts the image
nicely to the right of the text, or below the text on small screens */
.text-img-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0 1rem 0;
    width: 100%;
}
.text-img-flex p {
    margin: 0;
    flex-basis: 350px;
    flex-grow: 1;
}
.text-img-flex img {
    display: block;
    margin: auto;
    width: 200px;
    align-self: flex-start; /* For some reason preserves image aspect ratios */
    border: 1px solid black;
}
.text-img-flex .caption {
    margin-top: 5px;
    text-align: center;
}
#instructions .highlight {
    background-color: var(--accent-color);
    padding: 1rem;
    width: calc(100% - 2rem);
}

/* Close instructions button at the bottom */

#close_instructions {
    display: block;
    margin: auto;
    padding: 0;
    cursor: pointer;
    font-family: "Open Sans";
    position: relative;

    width: fit-content;
    border: none;
    background-color: transparent;
}

#close_instructions > div {
    position: absolute;
    inset: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
#close_instructions > img {
    height: 30px;
    display: block;
}


/* Download dialog */

#download_modal p {
    margin-top: 0;
}
#download_modal .radio_row {
    margin-bottom: 12px;
}
#download_modal .radio_row * {
    cursor: pointer;
}
#download_modal #start_download {
    cursor: pointer;
    margin-top: 1rem;
    background-color: var(--accent-color);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    font-size: 1rem;
}
#download_modal #close_download_modal {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-right: 0.3rem;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}